<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

</head>

<body>

<div class="container">
	<div th:if="${message}"
		 class="alert alert-success alert-dismissible fade show"  role="alert">

		<span th:text="${message}"></span>

		<button type="button"		class="btn-close"
				data-bs-dismiss="alert"		aria-label="Close">
		</button>
	</div>

    <div class="d-flex justify-content-between">
        <h1>Home Page</h1>
    </div>

    <form method="Get" action="/web/list">
    <div class="row col-md-6">
            <div class="input-group">
                <input
                        type="text"
                        class="form-control"
                        name="keyword"
                        placeholder="Search ..."
                        th:value="${keyword}">
                &nbsp;&nbsp;
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </div>
    </div>
    </form>

    <form action="/web/releaseSelected"
          method="post"
          onsubmit="return confirmSubmitSelected();">
        <button class="btn btn-primary p-1 m-1"
                type="submit">
            Submit Selected
        </button>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th width="10px">
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="server : ${servers}">
            <td>
                <input
                        class="form-check-input rowCheck"
                        type="checkbox"
                        name="selectedIds"
                        th:value="${server.id}">

            </td>
            <td th:text="${server.id}">1</td>
            <td th:text="${server.name}">Sample Item</td>
            <td th:text="${server.status}">Active</td>
            <td>
                <a      hx-get="/web/server/{id}(id=${server.id})"
                        th:attr="hx-get=@{/web/server/{id}(id=${server.id})}"
                        hx-target="#detail"
                        hx-swap="innerHTML">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-eye"></i> View
                    </button>
                </a>
                        <!--                <form th:action="@{/web/release/{id}(id=${server.id})}"-->
<!--                      method="post"-->
<!--                    <button type="submit"-->
<!--                            class="btn btn-primary btn-sm">-->
<!--                        Release-->
<!--                    </button>-->
<!--                </form>-->
            </td>
        </tr>
        </tbody>
    </table>
    </form>

    <div id="detail">
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
